@font-face{
    font-family: 'FuturaPTLight';
    src:url('fonts/FuturaPTLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FuturaPTBook';
    src:url('fonts/FuturaPTBook.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family: 'FuturaPTMedium';
  src:url('fonts/FuturaPTMedium.otf');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1c1e;
    animation: amiya ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: amiya ease 4s;
}
.casestudy{
    margin: 32px;
    margin-top: 70px;
    margin-bottom: 0;
    
}
.casestudy image{
    height: 100%;
    width:100%;
}
.project_about h2,.project_problemstatements h2,
.project_team h2,.project_problemanalysis h2,
.project_understandingtheusers h2,.project_painpoints h2,.project_persona h2,.project_solution h2,.project_features h2,.project_sos h2,.project_userflow h2,.project_ia h2,.project_wireframe h2,.project_designsystem h2,.project_highfi h2,.project_prototype h2,.project_testing h2,
.project_scope h2,.project_survey h2,.project_brainstroming h2{
    font-family: 'FuturaPTBook';
    color: #f2f2f2;
    letter-spacing: 1px;
    font-size:32px;
   
}
.project_problemstatements h3,.project_survey h3{
    font-size: 20px;
    color: #f2f2f2;
    letter-spacing: 1px;
    font-family: 'FuturaPTBook';
}
.project_about p,.project_problemstatements p,.project_team p,
.project_problemanalysis p,.project_understandingtheusers p,.project_painpoints p,.project_persona p,
.project_solution p,.project_features p,.project_sos p,.project_userflow p,.project_ia p,.project_wireframe p,.project_designsystem p,.project_highfi p,
.project_prototype p,.project_testing p,.project_scope p,.project_survey p,.project_brainstroming p{
    
    font-family: 'FuturaPTLight';
    color: #f2f2f2;
    letter-spacing: 1.5px;
    font-size: 24px;
    line-height: 130%;
    opacity: 0.8;
   
}
.project_features ul li{
    color:#f2f2f2;
}
.project_problemstatements ul li{
    color: #f2f2f2;
}
.user_researchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: 'FuturaPTMedium';
    color: #f2f2f2;
}
.user_researchbar h2{
    font-size: 3vw;
    letter-spacing: 1px;
}


@media all and (max-width:650px){

.project_about p,.project_problemstatements p,.project_team p,
.project_problemanalysis p,.project_understandingtheusers p,.project_painpoints p,.project_persona p,
.project_solution p,.project_features p,.project_sos p,.project_userflow p,.project_ia p,.project_wireframe p,.project_designsystem p,.project_highfi p,
.project_prototype p,.project_testing p,.project_scope p,.project_survey p,.project_brainstroming p{
    
    font-family: 'FuturaPTLight';
    color: #f2f2f2;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 130%;
    opacity: 0.8;
   
}
.project_about h2,.project_problemstatements h2,
.project_team h2,.project_problemanalysis h2,
.project_understandingtheusers h2,.project_painpoints h2,.project_persona h2,.project_solution h2,.project_features h2,.project_sos h2,.project_userflow h2,.project_ia h2,.project_wireframe h2,.project_designsystem h2,.project_highfi h2,.project_prototype h2,.project_testing h2,
.project_scope h2,.project_survey h2,.project_brainstroming h2{
    font-family: 'FuturaPTBook';
    color: #f2f2f2;
    letter-spacing: 1px;
    font-size:24px;
   
}




}
